img + em {
    font-style: normal;
    display: inherit;
    text-align: center;
    font-size: 90%;
}

strong {
    color: red;
}

blockquote {
    text-align: center;
}


h3, h2 {
    margin-top: 5rem;
}